.graphs {
    display: flex;
}

.graphs .box {
    background-color: #0e0029;
    border-radius: 15px;
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 30vh;
}

#language-graph {
    height: 30vh;
}